ollama
chromadb
pdfplumber 
langchain
langchain-core
langchain-ollama
langchain-community
langchain_text_splitters
unstructured # for pdf parsing
unstructured[all-docs]
fastembed
pdfplumber
sentence-transformers
elevenlabs
streamlit

